/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

@keyframes l1 {
	to {
		transform: rotate(.5turn)
	}
}

.wp-block-mt-form-mt-form__component {
	display: flex;
	flex-direction: column;

	padding: 1rem;

	* {
		box-sizing: border-box;
	}

	.mt-form-block-element {
		width: 100%;

		position: relative;

		&__loading-overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			display: flex;
			justify-content: center;
			align-items: center;

			background-color: rgba(255, 255, 255, .75);
		}

		&__loader {
			width: 50px;
			aspect-ratio: 1;
			border-radius: 50%;
			border: 8px solid;
			border-color: #000 #0000;
			animation: l1 1s infinite;

			&__spinner {

				&__text {
					display: none;
				}
			}
		}

		&__form {
			width: 100%;

			display: flex;
			flex-direction: row;
			flex-wrap: wrap;

			gap: 1rem;
		}

		&__item {
			width: 100%;

			@media (min-width: 768px) {
				width: calc(50% - 0.5rem);
			}

			&--wide {
				width: 100%;
			}

			&__label {
				width: 100%;

				margin: 0;
				padding: 0 0 .5rem;

				&__asterisk {
					color: red;

					margin-left: .25rem;
				}
			}

			&__input {
				width: 100%;

				display: block;

				padding: .5rem .25rem;
			}
		}

		&__button {
			padding: .5rem .75rem;
		}
	}
}

.mt-form-block-feedback-element {
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
