/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

@keyframes l1 {
	to {
		transform: rotate(.5turn)
	}
}

.mt-form-entries-table-component {
	display: flex;
	flex-direction: column;

	padding: 1rem;

	* {
		box-sizing: border-box;
	}

	&__title {

	}

	&__table {
		width: 100%;

		display: flex;
		flex-direction: column;
		align-items: stretch;

		&__row {
			display: inline-flex;
			flex-wrap: wrap;
			flex-direction: row;
			align-items: stretch;
			justify-content: space-between;
			border-bottom: 1px solid #ddd;
			padding: 1rem 0;

			cursor: pointer;

			& > p {
				word-break: break-all;

				&:first-child {
					width: 20%;
				}

				&:nth-child(2) {
					width: 20%;
				}

				&:nth-child(3) {
					width: 20%;
				}

				&:nth-child(4) {
					width: 20%;
				}

				&:nth-child(5) {
					width: 100%;
				}
			}

			&__message {
				display: none;

				&--active {
					display: block;
				}
			}
		}

	}

	&__fetch-button {
		padding: 0.5rem 0.75rem;
	}

	&__pagination {
		width: 100%;

		display: flex;
		flex-direction: row;
		justify-content: center;
		column-gap: 1rem;

		margin-top: 1rem;

		button {
			padding: 0.5rem 0.75rem;
		}
	}
}

.mt-form-entries-table-component-error {
}
